{
  "extends": "@react-native-community",
  "rules": {
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true
      }
    ],
    "react-hooks/exhaustive-deps": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "semi": true,
        "endOfLine": "auto"
      }
    ]
  }
}
